html{
    /* min-height:100vh; */
    
    margin:0;
}
body{
  font-family: 'Acme', sans-serif;
}
.page-content{
  background-image: url("ocean3.jpg") ;
  /* background: rgb(46,97,113);
background: linear-gradient(167deg, rgba(46,97,113,1) 31%, rgba(0,0,0,1) 100%); */
  /* background-color: #2E6171; */
  min-height:100vh;
}

.title-large{
  color:white;
}

a{
  color:#e3bd36;
}

h1{
  color:white;
  background-color:rgba(13, 121, 121, 0.8);
  text-align: center;
}

.panel{
  background-color:#52a168;
}

#quote{
  color:#2E6171;
}

.material-icons{
  color:white;
}

#porthole{
  transition: transform 3s;
}
.flip{
  transform: rotate(360deg);
}

.popover {
    width: 150px;
    background-color: #e3bd36;
    color:#2E6171;
  }

  /* .bubble{ */
    /* display:none; */
  /* } */

.flex{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top:50px;

}