

html{
    min-height:100vh;
    
    margin:0;
}
body{
  font-family: 'Acme', sans-serif;
}
.page-content{
  background-image: url("ocean3.jpg") ;
  min-height:100vh;
}

.right{
  margin:50px;
  padding-top:30px;
}

.title-large{
  color:white;
}

a{
  color:#e3bd36;
}

h1, h2{
  color:white;
  background-color:rgba(13, 121, 121, 0.8);
  width:100vw;
  text-align: center;
}

.panel{
  background-color:#52a168;
}

.list ul{
  background-color: #2E6171;
  color:white;
  text-align: center;
}

#quote{
  color:#e3bd36;
  font-size: 15px;
  text-align: center;
}

.material-icons{
  color:white;
}

#porthole{
  transition: transform 3s;
}
.flip{
  transform: rotate(360deg);
}


.popover {
    width: 150px;
    background-color: #e3bd36;
    color:#2E6171;
  }

  #green {
    transform:translateX(-100px);
  }
  #orange {
    transform:translateX(100px);
  }

  #turt {
    transform:translateX(-100px);
  }

  #turt1 {
    transform:translateY(200px);
  }

  /* .bubble{ */
    /* display:none; */
  /* } */

.flex{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top:50px;

}